

.header__logo{
    width: 173px;
    height: 33px;
    padding-bottom: 41px;
    margin-top: 45px;
 }

 .header__logo:hover{
    cursor: pointer;
    background: #000000;

 }
 @media screen and (max-width: 320px){
     .header__logo{
         max-width: 126px;
         height: 24px;
         margin-left: 27px;
         padding-bottom: 32px;
         margin-top: 28px;
     }
 }
 