.modal__form-error_visible{
    width: 358px;
    height: 12px;
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;  
    color: #FF0000;
    opacity: 1;
}