
.modal__info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 430px;
    margin: auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    top: 195px;
  }
  
  @media screen and (max-width: 320px) {
  .modal__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:240px;
    margin: auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  }