.page {
  border: 1px solid red;
  height: 100vh;
  min-width: 1280px;

  background-color: #000000;
  font-family: 'Inter', 'Arial', sans-serif;

  color: white;
}
@media screen and (max-width: 320px) {
  .page {
    min-width: 320px;
  }
}
